.mb-search-view
{
    position: relative;
    background: white;
    width: 310px;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    border-radius: 2px;

    input[type=search]
    {
        position: absolute;
        top: 4px;
        left: 0px;
        width: 270px;
        height: 32px;
        border: none;
        line-height: 20px;
        text-indent: 8px;
        letter-spacing: 2px;
    }

    .icon {
        position: absolute;
        color: grey;
        right: 12px;
        top: 12px;
        z-index: 2;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
    }

    .mb-suggestion-list-view
    {
        z-index: 999;
        position: relative;
        background: @body-bg;
        top: 45px;
        left: 0;
        right: 0;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;

        li
        {
            line-height: 1;
            height: 30;
            padding-top: 8px;
            padding-bottom: 8px;
            text-overflow: ellipsis;

            &:hover
            {
                background: #efefef;
            }
        }
    }

}
